@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #09090b; 
}
::-webkit-scrollbar-thumb {
  background: #18181b; 
  border-radius: 5px;
  border: 2px solid #09090b;
}
::-webkit-scrollbar-thumb:hover {
  background: #06b6d4; 
}